/* Estilos generales */
.body-bg {
  background-color: #fbc6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilo del título */
.titulo {
  color: #000000;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Estilo del subtítulo */
.subtitulo {
  color: black;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* Contenedor principal */
.container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

/* Campos de entrada y selección */
.input-field, .select-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
  outline: none;
  margin-bottom: 1rem;
}

/* Estilos para el botón */
.btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  background-color: #c57d56;
  transition: background-color 0.3s;
  border: none;
}

.btn:hover {
  background-color: #a96342;
}

/* Estilo del resultado */
#resultado {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-top: 1.5rem;
}

/* Estilos para el mensaje de error */
.alerta-error {
  color: rgb(250, 80, 80); /* Texto negro */
  font-weight: bold;
  text-align: center;
  max-width: 350px;
  margin: 10px auto;
  padding: 10px 0; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados opcionales */
  box-shadow: none; /* Elimina la sombra */
  background-color: transparent; /* Sin fondo */
}





